/* regenerate this file from ../scss/fireworks.scss using local tools or online: https://jsonformatter.org/scss-to-css */
body {
    height: 100%;
    width: 100%;
    margin: 0;
}
.firework {
    position: absolute;
    width: 2px;
    height: 2px;
    opacity: 1;
    border-radius: 50%;
}
@keyframes launchFirework {
    to {
        opacity: 0;
    }
}
@keyframes launchFirework1 {
    to {
        transform: translate(40px, 33px) scale(6);
    }
}
.firework1 {
    animation: launchFirework 1872ms forwards, launchFirework1 1632ms forwards;
}
@keyframes launchFirework2 {
    to {
        transform: translate(99px, 26px) scale(6);
    }
}
.firework2 {
    animation: launchFirework 1997ms forwards, launchFirework2 1324ms forwards;
}
@keyframes launchFirework3 {
    to {
        transform: translate(-79px, -45px) scale(6);
    }
}
.firework3 {
    animation: launchFirework 1952ms forwards, launchFirework3 1154ms forwards;
}
@keyframes launchFirework4 {
    to {
        transform: translate(31px, -94px) scale(6);
    }
}
.firework4 {
    animation: launchFirework 1455ms forwards, launchFirework4 1734ms forwards;
}
@keyframes launchFirework5 {
    to {
        transform: translate(-60px, 30px) scale(6);
    }
}
.firework5 {
    animation: launchFirework 1799ms forwards, launchFirework5 1433ms forwards;
}
@keyframes launchFirework6 {
    to {
        transform: translate(15px, 95px) scale(6);
    }
}
.firework6 {
    animation: launchFirework 1556ms forwards, launchFirework6 1020ms forwards;
}
@keyframes launchFirework7 {
    to {
        transform: translate(2px, 40px) scale(6);
    }
}
.firework7 {
    animation: launchFirework 1791ms forwards, launchFirework7 1847ms forwards;
}
@keyframes launchFirework8 {
    to {
        transform: translate(7px, -27px) scale(6);
    }
}
.firework8 {
    animation: launchFirework 1892ms forwards, launchFirework8 1704ms forwards;
}
@keyframes launchFirework9 {
    to {
        transform: translate(6px, 37px) scale(6);
    }
}
.firework9 {
    animation: launchFirework 1431ms forwards, launchFirework9 1384ms forwards;
}
@keyframes launchFirework10 {
    to {
        transform: translate(-87px, -78px) scale(6);
    }
}
.firework10 {
    animation: launchFirework 1019ms forwards, launchFirework10 1982ms forwards;
}
@keyframes launchFirework11 {
    to {
        transform: translate(79px, -77px) scale(6);
    }
}
.firework11 {
    animation: launchFirework 1282ms forwards, launchFirework11 1113ms forwards;
}
@keyframes launchFirework12 {
    to {
        transform: translate(51px, 0px) scale(6);
    }
}
.firework12 {
    animation: launchFirework 1646ms forwards, launchFirework12 1123ms forwards;
}
@keyframes launchFirework13 {
    to {
        transform: translate(96px, -84px) scale(6);
    }
}
.firework13 {
    animation: launchFirework 1501ms forwards, launchFirework13 1636ms forwards;
}
@keyframes launchFirework14 {
    to {
        transform: translate(5px, 27px) scale(6);
    }
}
.firework14 {
    animation: launchFirework 1473ms forwards, launchFirework14 1626ms forwards;
}
@keyframes launchFirework15 {
    to {
        transform: translate(-39px, 67px) scale(6);
    }
}
.firework15 {
    animation: launchFirework 1079ms forwards, launchFirework15 1380ms forwards;
}
@keyframes launchFirework16 {
    to {
        transform: translate(-51px, 65px) scale(6);
    }
}
.firework16 {
    animation: launchFirework 1429ms forwards, launchFirework16 1962ms forwards;
}
@keyframes launchFirework17 {
    to {
        transform: translate(80px, 56px) scale(6);
    }
}
.firework17 {
    animation: launchFirework 1525ms forwards, launchFirework17 1880ms forwards;
}
@keyframes launchFirework18 {
    to {
        transform: translate(-14px, 1px) scale(6);
    }
}
.firework18 {
    animation: launchFirework 1634ms forwards, launchFirework18 1899ms forwards;
}
@keyframes launchFirework19 {
    to {
        transform: translate(59px, -85px) scale(6);
    }
}
.firework19 {
    animation: launchFirework 1581ms forwards, launchFirework19 1183ms forwards;
}
@keyframes launchFirework20 {
    to {
        transform: translate(-67px, -15px) scale(6);
    }
}
.firework20 {
    animation: launchFirework 1367ms forwards, launchFirework20 1686ms forwards;
}
@keyframes launchFirework21 {
    to {
        transform: translate(63px, 40px) scale(6);
    }
}
.firework21 {
    animation: launchFirework 1647ms forwards, launchFirework21 1584ms forwards;
}
@keyframes launchFirework22 {
    to {
        transform: translate(-96px, -64px) scale(6);
    }
}
.firework22 {
    animation: launchFirework 1723ms forwards, launchFirework22 1275ms forwards;
}
@keyframes launchFirework23 {
    to {
        transform: translate(48px, 48px) scale(6);
    }
}
.firework23 {
    animation: launchFirework 1662ms forwards, launchFirework23 1377ms forwards;
}
@keyframes launchFirework24 {
    to {
        transform: translate(-14px, 26px) scale(6);
    }
}
.firework24 {
    animation: launchFirework 1665ms forwards, launchFirework24 1507ms forwards;
}
@keyframes launchFirework25 {
    to {
        transform: translate(-57px, 20px) scale(6);
    }
}
.firework25 {
    animation: launchFirework 1713ms forwards, launchFirework25 1127ms forwards;
}
@keyframes launchFirework26 {
    to {
        transform: translate(-55px, -17px) scale(6);
    }
}
.firework26 {
    animation: launchFirework 1820ms forwards, launchFirework26 1185ms forwards;
}
@keyframes launchFirework27 {
    to {
        transform: translate(54px, -68px) scale(6);
    }
}
.firework27 {
    animation: launchFirework 1884ms forwards, launchFirework27 1274ms forwards;
}
@keyframes launchFirework28 {
    to {
        transform: translate(28px, -66px) scale(6);
    }
}
.firework28 {
    animation: launchFirework 1572ms forwards, launchFirework28 1172ms forwards;
}
@keyframes launchFirework29 {
    to {
        transform: translate(24px, 1px) scale(6);
    }
}
.firework29 {
    animation: launchFirework 1360ms forwards, launchFirework29 1964ms forwards;
}
@keyframes launchFirework30 {
    to {
        transform: translate(36px, -26px) scale(6);
    }
}
.firework30 {
    animation: launchFirework 1748ms forwards, launchFirework30 1823ms forwards;
}
@keyframes launchFirework31 {
    to {
        transform: translate(91px, -16px) scale(6);
    }
}
.firework31 {
    animation: launchFirework 1820ms forwards, launchFirework31 1847ms forwards;
}
@keyframes launchFirework32 {
    to {
        transform: translate(71px, -13px) scale(6);
    }
}
.firework32 {
    animation: launchFirework 1222ms forwards, launchFirework32 1929ms forwards;
}
@keyframes launchFirework33 {
    to {
        transform: translate(34px, -36px) scale(6);
    }
}
.firework33 {
    animation: launchFirework 1090ms forwards, launchFirework33 1056ms forwards;
}
@keyframes launchFirework34 {
    to {
        transform: translate(54px, 58px) scale(6);
    }
}
.firework34 {
    animation: launchFirework 1340ms forwards, launchFirework34 1928ms forwards;
}
@keyframes launchFirework35 {
    to {
        transform: translate(-38px, 27px) scale(6);
    }
}
.firework35 {
    animation: launchFirework 1883ms forwards, launchFirework35 1526ms forwards;
}
@keyframes launchFirework36 {
    to {
        transform: translate(-57px, -25px) scale(6);
    }
}
.firework36 {
    animation: launchFirework 1429ms forwards, launchFirework36 1314ms forwards;
}
@keyframes launchFirework37 {
    to {
        transform: translate(29px, -33px) scale(6);
    }
}
.firework37 {
    animation: launchFirework 1286ms forwards, launchFirework37 1965ms forwards;
}
@keyframes launchFirework38 {
    to {
        transform: translate(81px, 69px) scale(6);
    }
}
.firework38 {
    animation: launchFirework 1566ms forwards, launchFirework38 1229ms forwards;
}
@keyframes launchFirework39 {
    to {
        transform: translate(50px, -25px) scale(6);
    }
}
.firework39 {
    animation: launchFirework 1976ms forwards, launchFirework39 1792ms forwards;
}
@keyframes launchFirework40 {
    to {
        transform: translate(42px, -51px) scale(6);
    }
}
.firework40 {
    animation: launchFirework 1567ms forwards, launchFirework40 1643ms forwards;
}
@keyframes launchFirework41 {
    to {
        transform: translate(32px, 78px) scale(6);
    }
}
.firework41 {
    animation: launchFirework 1399ms forwards, launchFirework41 1833ms forwards;
}
@keyframes launchFirework42 {
    to {
        transform: translate(76px, 49px) scale(6);
    }
}
.firework42 {
    animation: launchFirework 1541ms forwards, launchFirework42 1846ms forwards;
}
@keyframes launchFirework43 {
    to {
        transform: translate(58px, -2px) scale(6);
    }
}
.firework43 {
    animation: launchFirework 1899ms forwards, launchFirework43 1883ms forwards;
}
@keyframes launchFirework44 {
    to {
        transform: translate(-77px, 16px) scale(6);
    }
}
.firework44 {
    animation: launchFirework 1725ms forwards, launchFirework44 1954ms forwards;
}
@keyframes launchFirework45 {
    to {
        transform: translate(51px, 88px) scale(6);
    }
}
.firework45 {
    animation: launchFirework 1140ms forwards, launchFirework45 1606ms forwards;
}
@keyframes launchFirework46 {
    to {
        transform: translate(23px, 65px) scale(6);
    }
}
.firework46 {
    animation: launchFirework 1624ms forwards, launchFirework46 1080ms forwards;
}
@keyframes launchFirework47 {
    to {
        transform: translate(14px, 27px) scale(6);
    }
}
.firework47 {
    animation: launchFirework 1348ms forwards, launchFirework47 1458ms forwards;
}
@keyframes launchFirework48 {
    to {
        transform: translate(-100px, 74px) scale(6);
    }
}
.firework48 {
    animation: launchFirework 1624ms forwards, launchFirework48 1675ms forwards;
}
@keyframes launchFirework49 {
    to {
        transform: translate(77px, -33px) scale(6);
    }
}
.firework49 {
    animation: launchFirework 1042ms forwards, launchFirework49 1231ms forwards;
}
@keyframes launchFirework50 {
    to {
        transform: translate(-47px, -47px) scale(6);
    }
}
.firework50 {
    animation: launchFirework 1971ms forwards, launchFirework50 1769ms forwards;
}
