// Kudos to Nic: https://codepen.io/nicm42/pen/ExbZmPy
// Source for ../css/fireworks.css
@use "sass:math";

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.firework {
  position: absolute;
  width: 2px;
  height: 2px;
  opacity: 1;
  border-radius: 50%;
}

@keyframes launchFirework {
  to {
    opacity: 0;
  }
}

@for $i from 1 through 50 {
  @keyframes launchFirework#{$i} {
    to {
      transform: translate(random(201) - 101 + px, random(201) - 101 + px) scale(6);
    }
  }
  .firework#{$i} {
    animation: launchFirework random(1001) + 999 + ms forwards, launchFirework#{$i} random(1001) + 999 + ms forwards;
  }
}
